:host {
    display: block;
    width: 595px;
    height: 842px;
}

hr{
    border: 0.75px solid #29abbc83;
    background-color: #29abbc83;
}

.cf-container {
    height: 30px;
    width: 100%;
    background-color: #29AABC;
    border-radius: 15px;
}

h5{
    font-size: 8px;
}