:host {
    height: 110px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #29AABC 52.88%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

hr{
    border: 1px solid #ffffffbd;
}

.w-140px{
    width: 140px;
}

.gap-20px{
    gap: 20px;
}

.gap-10px{
    gap: 10px;
}