.navbar {
  position: relative;
  border-radius: 10px;
}

.navbar::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px;
  border-radius: 10px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.04),
    rgba(255, 255, 255, 0.16)
  );
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.home-button {
  border: none;
  border-radius: 50% !important;
  cursor: pointer;
}

.home-button::before{
    border-radius: 50%;
}