:host {
    display: block;
    width: 595px;
    height: 842px;
    padding-top: 85px;
    background: linear-gradient(180deg, #29AABC 0%, rgba(255, 255, 255, 0) 100%);
}

.logo-valsambro-container{
    height: 555px;
    margin: 0 20px 0 20px;
    background-image: url('/assets/img/transparent-logo-valsambro.svg');
    background-repeat: no-repeat;
}

.page-container::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: none;
    background-repeat: no-repeat;
    background-position: top 70% right 0;
    background-size: 430px 576px;
    opacity: 0.1;
    pointer-events: none;
}

.w-360px{
    width: 360px;
}

.gap-10px{
    gap: 10px;
}

.gap-5px{
    gap: 5px;
}