.container{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    h1{
        margin: 20px;
    }
    button {
        margin: 20px;
        background: #209564;
        width: 150px;
        height: 50px;
        border: solid 1px rgb(237, 237, 237);
        border-radius: 10px;
        cursor: pointer;
    }
}

.file-drop-zone {
  border: 2px dashed #aaa;
  padding: 30px;
  text-align: center;
  cursor: pointer;
}

.file-drop-zone.drag-over {
  border-color: #3f51b5;
  background-color: #f0f0ff;
}