@use '../../styles/colors.scss' as col;

:host{
  display: block;
  height: 555px;
  padding-top: 20px;
}

.company-button{
  position:relative;
  width: 469px;
  height: 234px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.15s linear;

  img{
    width: 75px;
    height: 75px;
  }
}

.company-button:hover{
  
  background-color: col.$secondary;

  img,h2,h4{
    color: col.$primary;
  }
}

.company-button::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px;
  border-radius: 25px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.04),
    rgba(255, 255, 255, 0.16)
  );
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}



