<div class="page-container" >
    <metabolomics-page-header ></metabolomics-page-header>
    <div class="page-content">
        <h2 class=" mt-20px dark-blue">Analisi degli Amminoacidi Urinari</h2> 
        <h4 class=" mt-3px light-blue subtitle">Analisi del catabolismo proteico per la valutazione dello stato nutrizionale</h4> 
        <div class="pt-10px">
            <div class="section-header flex justify-end align-center px-40px">
                <h4 class="white" >Indicazioni generali</h4>
            </div>
        </div>
        <p class="my-15px">
            L'analisi degli amminoacidi misura gli amminoacidi essenziali e non essenziali, i metaboliti intermedi coinvolti nel metabolismo delle proteine e i marcatori dietetici correlati ai peptidi alimentari. Il metabolismo amminoacidico richiede specifici nutrienti e la loro rilevazione è in grado di evidenziare in maniera diretta e indiretta situazioni di carenze alimentari, squilibri gastrointestinali o difetti nel processo detox.
        </p>
         <div class="pt-10px">
            <div class="section-header flex justify-end align-center px-40px">
                <h4 class="white" >Come è suddivisa l'analisi</h4>
            </div>
        </div>
        <p class="my-15px">
           L'analisi degli amminoacidi viene suddivisa come di seguito:         <br>   
           <span class="bullet"></span> Amminoacidi essenziali che possono essere introdotti solo da fonti alimentari, fondamentali per una corretta crescita e formazione energetica <br>
           <span class="bullet"></span> Amminoacidi non essenziali che possono essere di origine alimentare o sintetizzati dal corpo <br>
           <span class="bullet"></span> Amminoacidi marcatori dei livelli di vitamina B: per il metabolismo di questi amminoacidi sono coinvolte le vitamine del gruppo B, evidenziando in maniera indiretta la loro carenza <br>
           <span class="bullet"></span> Amminoacidi legati alla neurotrasmissione in maniera diretta o indiretta <br>
           <span class="bullet"></span> Amminoacidi marcatori del ciclo dell'urea: sottoprodotti associati alla detossificazione dell'azoto <br>
           <span class="bullet"></span> Amminoacidi marcatori gastrointestinali approfondiscono situazioni infiammatorie, disbiosi o patologie intestinali
        </p>
         <div class="pt-10px">
            <div class="section-header flex justify-end align-center px-40px">
                <h4 class="white" >Applicazioni cliniche</h4>
            </div>
        </div>
        <p class="my-15px">
            Questo test offre importanti dati clinici metabolici, nutrizionali e neurologici. Squilibri amminoacidici sono spesso correlati a disturbi dell'attenzione, depressione, affaticamento cronico e fibromialgia. Potrebbero inoltre evidenziare deficit o eccessi alimentari, patologie a carico del fegato oppure fungere da approfondimento rispetto alla condizione gastrointestinale del paziente. 
            <br>
            Per queste ragioni il test degli amminoacidi urinari può essere utilizzato per indagare alcuni scenari clinici: disturbi dell'umore e depressione; monitoraggio di diete dimagranti, stati di malnutrizione (soprattutto in pazienti anziani e con scarso apporto proteico) o regimi vegani/vegetariani; cattiva digestione, malassorbimento e problemi gastrointestinali; affaticamento cronico; ottimizzazione della performance sportiva o nei percorsi di guarigione post-traumi, fasi in cui è richiesto un aumento dei nutrienti, o affaticamento muscolare; patologie renali; patologie epatiche; pre e sindrome metabolica (obesità, diabete, insulino-resistenza); autismo e disturbi comportamentali; osteoporosi.
        </p>
    </div>
    <metabolomics-page-footer [page]="page"></metabolomics-page-footer>
</div>