.flex{
    display: flex;
}

.row{
    flex-direction: row;
}

.row-reverse{
    flex-direction: row-reverse;
}

.col{
    flex-direction: column;
}

.col-reverse{
    flex-direction: column-reverse;
}

//Justify

.justify-end {
    justify-content: flex-end;
}

.justify-start {
    justify-content: flex-start;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-evenly {
    justify-content: space-evenly;
}

// Align

.align-end {
    align-items: flex-end;
}

.align-start {
    align-items: flex-start;
}

.align-center {
    align-items: center;
}

.align-baseline {
    align-items: baseline;
}

