:host {
    display: block;
    width: 595px;
    height: 842px;
}

.section-header{
    width: 595px !important;
    height: 30px;
    margin-left: -40px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #29AABC 52.88%);
}

h6{
    font-size: 7px;
}