:host {
    height: 40px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #29AABC 52.88%);
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 20px;
}