.bar-container{
    width: 100%;
    height: 12px;
    border-radius: 6px;
    // background: linear-gradient(90deg, #E62138 0%, #FBD500 48.08%, #0B9667 98.56%);
}

.circle {
    width: 8px;
    height: 8px;
    margin-left: 30px;
    background: #29AABC;
    border: 0.75px solid #024F84;
    border-radius: 50%;
}